<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
        <p><%= comment.content %></p>
      </li>
      <%= link_to 'Delete', [comment.post, comment],
                 :method => :delete,
                 data: { confirm: 'Are you sure?' }
                  %>
    <% end %>
  <% end %>
</ul>
