<div class="container">


<%= form_for ([@post, @comment]) do |f| %>

    <%= f.text_area :content, class:"single-input"%>
    <%= f.submit "post comment", class:"genric-btn info-border circle" %>
    
      <%end%>

      </div>