<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<section class="banner_part postt">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">

            <div class="carousel-caption text-dark text-left">
            <h2 class="animated fadeInLeft ">Caption Animation</h2>
            <p class="animated fadeInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <p class="animated fadeInUp">   <%= link_to 'view more posts',posts_path, class:"btn btn-transparent btn-rounded btn-large border border-dark"  %></p>
       </div>

            <%= image_tag("bannnero.png")%>
            </div>

            <div class="carousel-item">

            <div class="carousel-caption text-dark text-left">
            <h2 class="animated fadeInLeft ">Caption Animation</h2>
            <p class="animated fadeInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <p class="animated fadeInUp"><a href="#" class="btn btn-transparent btn-rounded btn-large border border-dark">Learn More</a></p>
       </div>

            <%= image_tag("bannner1.png")%>
            </div>
            <div class="carousel-item">
            <div class="carousel-caption text-dark text-left">
            <h2 class="animated fadeInLeft ">Caption Animation</h2>
            <p class="animated fadeInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <p class="animated fadeInUp"><a href="#" class="btn btn-transparent btn-rounded btn-large border border-dark">Learn More</a></p>
       </div>

            <%= image_tag("bannner3.png")%>
                
            </div>
           
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<!--::blog_part end::-->
<div class="section-top-border bob container">
				<h3 class="mb-30">Block Quotes</h3>
				<div class="row">
					<div class="col-lg-12">
						<blockquote class="generic-blockquote">
							“Recently, the US Federal government banned online casinos from operating in America by making it illegal to
							transfer money to them through any US bank or payment system. As a result of this law, most of the popular
							online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino
							players found themselves being chased by the Federal government. But, after a fortnight, the online casino
							industry came up with a solution and new online casinos started taking root. These began to operate under a
							different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major
							part of this was enlisting electronic banking systems that would accept this new clarification and start doing
							business with me. Listed in this article are the electronic banking”
						</blockquote>
					</div>
				</div>
			</div>
