/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* search box css start here*/
.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
    
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        position: relative;
        top: -114px;
        background: rgba(26, 70, 104, 0.51);
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
} 

.carousel-caption{padding-bottom:80px; 
top: 250px;} 

h2{font-size: 60px;}
p{padding:10px}


.btn-transparent {
    background: transparent;
    color:black;
    border: 2px solid black;
  }
  .btn-transparent:hover {
    background-color: black;
  }
  
  .btn-rounded {
    border-radius: 70px;
  }
  
  .btn-large {
    padding: 11px 45px;
    font-size: 18px;
  }
  
  /**
   * Change animation duration
   */
  .animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100px, 0, 0);
      transform: translate3d(100px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100px, 0, 0);
      transform: translate3d(100px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }
  
  
  .postt{
    bottom: 100px;
  }
   
  .postt1{
    top: 430px !important;
    left:110px;
  }

  .bob{
    position: relative;
    bottom: 20rem;

  }
  .bob1{
    position: relative;
    bottom: 10rem;

  }
  .bob2{
    position: relative;
    bottom: 13rem;

  }
  .bob3{
    position: relative;
    bottom: 15rem;

  }
  .bob4{
    position: relative;
    top: 5rem;

  }
  .bob5{
    position: relative;
    bottom: 3rem;
    left: 65%;

  }
  .bobshow{
    position: absolute;
    top: 100px;
  }

 